*{
    padding: 0;
    margin: 0;
    
}

.container{
    width: 70px;
    height: 150px;
    border: 1px solid black;
}
.container div:nth-child(2n+1){
    background-color: blue;
}
.container div:nth-child(2n){
    background-color: black;
}

.container div{
    display: inline-block;
    width: 5px;
    height: 5px;

}